﻿body{
  font-size: 16px;
}

.box{
  float: left;
  width: 580px;
  margin-bottom: 24px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0 8px 16px -2px rgba(10,10,10,0.1),0 0 0 1px rgba(10,10,10,0.02);
  -webkit-box-shadow: 0 8px 16px -2px rgba(10,10,10,0.1),0 0 0 1px rgba(10,10,10,0.02);
  box-shadow: 0 8px 16px -2px rgba(10,10,10,0.1),0 0 0 1px rgba(10,10,10,0.02);
}

.unbox{
  clear: both;
}

.button {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 16px;
  padding-left: 16px;
}

.tab{
  background:#00D1B2 ;
  text-align: center; /*IE5以前用*/
}

span{
  color: #ffffff;
}

.akari:hover{
  background-position: -100% 0;

}

.navi{
  line-height: 52px;
}

.akari{
  padding: 0 10px;
  background-image: -moz-linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(0, 177, 161) 50%);
  background-image: -webkit-gradient(linear, left center, right center, color-stop(0.5, rgba(0, 0, 0, 0)), color-stop(0.5, rgb(0, 177, 161)));
  background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(0, 177, 161) 50%);
  background-image: -o-linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(0, 177, 161) 50%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(0, 177, 161) 50%);
  background-position: 0 0;
  background-size: 200% auto;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;

}

.logosukima{
  line-height: 1; /*Geckoとか用*/
}

.logogazo {
  width: 110px;
  height: 28.69px;
}

.chuo{
  vertical-align: middle;
  width: 130px;
}


img{
 border-style: none
}

@font-face {
  font-family: 'Ohirosnest';
  src: url('font/a.eot');
  src: url('font/a.eot?#iefix') format('embedded-opentype'),
  url('font/a.woff') format('woff'),
  url('font/a.ttf') format('truetype'),
  url('font/a.svg#Ohirosnest') format('svg');
  }
  

body{
  font-family: 'Ohirosnest','BIZ UDPGothic','ヒラギノ角ゴ ProN','Hiragino Kaku Gothic ProN','Meiryo';
}

option{
  font-family: 'Ohirosnest','BIZ UDPGothic','ヒラギノ角ゴ ProN','Hiragino Kaku Gothic ProN','Meiryo';
}

select{
  font-family: 'Ohirosnest','BIZ UDPGothic','ヒラギノ角ゴ ProN','Hiragino Kaku Gothic ProN','Meiryo';
}

.chuozoroe{
  height: 52px;
  margin: auto;
  text-align: center; /*IE5以前用*/
}
  
.mojichuo{
  text-align: -webkit-center;
  text-align: center;
}

.naraberu {
  float: left;
}

.narabenai {
  float: none;
  clear: both;
}


a {
  outline: 0;
}


.title {
  font-size: 32px;
  margin-bottom: 24px;
}

.subtitle {
  font-size: 20px;
  margin-bottom: 24px;
}

.title + .subtitle {
    margin-top: -20px;
}

.section {
  padding: 0px;
  margin: 48px;
}

iframe {
  border: none;
}

.buttonakeru {
  margin-right: 10px;
}



.midoributton {
  background-color: #ebfffc;
  color: #00947e;
  border-color: transparent;
}

.midoributton:hover {
  background-color: #defffa;
  color: #00947e;
}


.kiirobutton {
  background-color: #fffaeb;
  color: #946c00;
  border-color: transparent;
}

.kiirobutton:hover {
  background-color: #fff6de;
  color: #946c00;
}


.mizubutton {
  background-color: #eff5fb;
  color: #296fa8;
  border-color: transparent;
}

.mizubutton:hover {
  background-color: #e4eff9;
  color: #296fa8;
}


.aobutton {
  background-color: #eff1fa;
  color: #3850b7;
  border-color: transparent;
}

.aobutton:hover {
  background-color: #e6e9f7;
  color: #3850b7;
}


.akabutton {
  background-color: #feecf0;
  color: #cc0f35;
  border-color: transparent;
}

.akabutton:hover {
  background-color: #fde0e6;
  color: #cc0f35;
}



@media (prefers-color-scheme: light) {
  html {
    background-color: #ffffff;
    color: #4a4a4a;
  }
  body {
    background-color: #ffffff;
    color: #4a4a4a;
  }
  p {
    color: #4a4a4a;
  }
  .title {
    color: #363636;
  }
  .subtitle {
    color: #4a4a4a;
  }
  .tab {
    background: #00D1B2;
  }
  .akari{
    padding: 0 10px;
    background-image: -moz-linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(0, 177, 161) 50%);
    background-image: -webkit-gradient(linear, left center, right center, color-stop(0.5, rgba(0, 0, 0, 0)), color-stop(0.5, rgb(0, 177, 161)));
    background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(0, 177, 161) 50%);
    background-image: -o-linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(0, 177, 161) 50%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(0, 177, 161) 50%);
    background-position: 0 0;
    background-size: 200% auto;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;

  }
  a {
    color: #485fc7;
}
}


@media (prefers-color-scheme: dark) {
  html {
    background-color: #242424;
    color: #ffffff;
  }
  body {
    background-color: #242424;
    color: #ffffff;
  }
  p {
    color: #ffffff;
  }
  .title {
    color: #ffffff;
  }
  .subtitle {
    color: #ffffff;
  }
  .tab {
    background: #363636;
  }
  .akari{
    padding: 0 10px;
    background-image: -moz-linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(36, 36, 36) 50%);
    background-image: -webkit-gradient(linear, left center, right center, color-stop(0.5, rgba(0, 0, 0, 0)), color-stop(0.5, rgb(36, 36, 36)));
    background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(36, 36, 36) 50%);
    background-image: -o-linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(36, 36, 36) 50%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(36, 36, 36) 50%);
    background-position: 0 0;
    background-size: 200% auto;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;

  }
  a {
    color: #c2c9ff;
}
}