.box{
  float: left;
  width: 580px;
  margin-bottom: 24px;
  border-radius: 6px;
  box-shadow: 0 8px 16px -2px rgb(230,230,230),0 0 0 1px rgb(250,250,250);

  behavior: url(/PIE/PIE.htc);

  padding: 0;
}

.narabenai {
  float: none;
  clear: both;
}

.button {
  height: 24px;
  border-radius: 4px;

  behavior: url(/PIE/PIE.htc);
}

.ie8fix-ue20{
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.ie8fix-shita20{
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.ie8fix-yoko20{
  margin-left: 20px;
  margin-right: 20px;
}


.midoributton {
  border-color: #fff;
}

.kiirobutton {
  border-color: #fff;
}

.mizubutton {
  border-color: #fff;
}

.aobutton {
  border-color: #fff;
}

.akabutton {
  border-color: #fff;
}

.midoributton:hover {
  border-color: #fff;
}

.kiirobutton:hover {
  border-color: #fff;
}

.mizubutton:hover {
  border-color: #fff;
}

.aobutton:hover {
  border-color: #fff;
}

.akabutton:hover {
  border-color: #fff;
}
