.ifiemasu {
    width: 60px;
    height: 60px;
    vertical-align:middle;
    text-align: center;
}

.ifieake {
    width: 20px;
    height: 60px;
}

table td:not([align]).ifiemasu, table th:not([align]).ifiemasu {
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: center;
}