﻿body{
  font-family: 'ヒラギノ角ゴ ProN','Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro','Hiragino Sans';
}

option{
  font-family: 'ヒラギノ角ゴ ProN','Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro','Hiragino Sans';
}

select{
  font-family: 'ヒラギノ角ゴ ProN','Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro','Hiragino Sans';
}