﻿@font-face {
  font-family: 'NotoSansJPW';
  src: url('/font/NotoSansJP-Regular');
  src: url('/font/NotoSansJP-Regular?#iefix') format('embedded-opentype'),
  url('/font/NotoSansJP-Regular.woff') format('woff'),
  url('/font/NotoSansJP-Regular.ttf') format('truetype'),
  url('/font/NotoSansJP-Regular.svg#NotoSansJPW') format('svg');
  font-weight: normal;
  font-style: normal;
  }

body{
  font-family: 'Noto Sans CJK JP','Noto Sans JP',"Noto Sans Japanese",'Source Han Sans',"NotoSansJPW";
}

option{
  font-family: 'Noto Sans CJK JP','Noto Sans JP',"Noto Sans Japanese",'Source Han Sans',"NotoSansJPW";
}

select{
  font-family: 'Noto Sans CJK JP','Noto Sans JP',"Noto Sans Japanese",'Source Han Sans',"NotoSansJPW";
}