﻿html {
  background-color: #ffffff;
  color: #4a4a4a;
}
body {
  background-color: #ffffff;
  color: #4a4a4a;
}
p {
  color: #4a4a4a;
}
.title {
  color: #363636;
}
.subtitle {
  color: #4a4a4a;
}
.tab {
  background: #00D1B2;
}
.akari{
  padding: 0 10px;
  background-image: -moz-linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(0, 177, 161) 50%);
  background-image: -webkit-gradient(linear, left center, right center, color-stop(0.5, rgba(0, 0, 0, 0)), color-stop(0.5, rgb(0, 177, 161)));
  background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(0, 177, 161) 50%);
  background-image: -o-linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(0, 177, 161) 50%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(0, 177, 161) 50%);
  background-position: 0 0;
  background-size: 200% auto;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;

}
a {
  color: #485fc7;
}

@media (prefers-color-scheme: light) {
  html {
    background-color: #ffffff;
    color: #4a4a4a;
  }
  body {
    background-color: #ffffff;
    color: #4a4a4a;
  }
  p {
    color: #4a4a4a;
  }
  .title {
    color: #363636;
  }
  .subtitle {
    color: #4a4a4a;
  }
  .tab {
    background: #00D1B2;
  }
  .akari{
    padding: 0 10px;
    background-image: -moz-linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(0, 177, 161) 50%);
    background-image: -webkit-gradient(linear, left center, right center, color-stop(0.5, rgba(0, 0, 0, 0)), color-stop(0.5, rgb(0, 177, 161)));
    background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(0, 177, 161) 50%);
    background-image: -o-linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(0, 177, 161) 50%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(0, 177, 161) 50%);
    background-position: 0 0;
    background-size: 200% auto;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;

  }
  a {
    color: #485fc7;
}
}


@media (prefers-color-scheme: dark) {
  html {
    background-color: #ffffff;
    color: #4a4a4a;
  }
  body {
    background-color: #ffffff;
    color: #4a4a4a;
  }
  p {
    color: #4a4a4a;
  }
  .title {
    color: #363636;
  }
  .subtitle {
    color: #4a4a4a;
  }
  .tab {
    background: #00D1B2;
  }
  .akari{
    padding: 0 10px;
    background-image: -moz-linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(0, 177, 161) 50%);
    background-image: -webkit-gradient(linear, left center, right center, color-stop(0.5, rgba(0, 0, 0, 0)), color-stop(0.5, rgb(0, 177, 161)));
    background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(0, 177, 161) 50%);
    background-image: -o-linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(0, 177, 161) 50%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(0, 177, 161) 50%);
    background-position: 0 0;
    background-size: 200% auto;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  
  }
  a {
    color: #485fc7;
  }
}