.navbar {
  background-color: rgba(255, 255, 255, 0);
}

.shiro {
  color: #ffffff !important;
  background-color:rgba(255, 255, 255, 0) !important;
  fill: #ffffff;
  padding-left: 6px;
  padding-right: 6px;
}

.menumoji {
  width: 64px;
  vertical-align:middle;
  text-align: left !important;
}

.menukomoku {
  height: 47px;
  width: 295px;
  padding-right: 16px !important;
}

.setteiicon{
  -webkit-align-items: center;
  align-items: center;
  display: flex !important;
  height: 52px;
}

.setteiiconsvg{
  margin-top: 16px;
  margin-bottom: 16px;
}

.setteidaitai{
  margin-top: 16px;
  margin-bottom: 16px;
}


.setteiiconue {
  height: 52px;
}

.arrowkakushi {
  margin: 0;
  padding: 0;
  border: 0;
}

/*IE向け*/

.navbar-dropdown {
  left: -10px !important;
  background-color: #ffffff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: 2px solid #dbdbdb;
  box-shadow: 0 8px 8px rgba(10,10,10,.1);
  display: none;
  font-size: 14px;
  left: 0;
  min-width: 100%;
  position: absolute;
  top: 100%;
  z-index: 20;

  border-radius: 0 0 6px 6px;

  border-collapse: separate;

  behavior: url(/PIE/PIE.htc);
}

.input, .select select, .textarea {
  border-radius: 4px;

  behavior: url(/PIE/PIE.htc);
}



select::-ms-expand {
  display: none;
}


.navbar-item.has-dropdown.is-hoverable.focus-within > .navbar-dropdown {
  display: block
}

.navbar-item.has-dropdown.is-hoverable {
  display: flex !important;
}

.navbar-item.has-dropdown.is-hoverable.focus-within {
  background-color: transparent!important
}

.navbar-dropdown.focus-within,.navbar-item.is-hoverable.focus-within {
  display: block
}

.navbar-dropdown.is-boxed.focus-within,.navbar-item.is-hoverable.focus-within .navbar-item.is-hoverable.focus-within  {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0)
}

.navbar-dropdown .navbar-item {
  padding: 6px 16px;
  white-space: nowrap
}

.navbar-dropdown a.navbar-item {
  padding-right: 48px
}

.navbar-dropdown {
  padding-bottom: 8px;
  padding-top: 8px;
}

.verhyouki {
    text-align: left;
}



/*横幅1024pxを下回ったとき用とプレフィックス*/

.navbar,.navbar-end,.navbar-menu,.navbar-start {
  -webkit-align-items:stretch;
  align-items:stretch;
  display: flex
}

.navbar {
  height: 52px
}

.navbar.is-spaced {
  padding: 1rem 2rem
}

.navbar.is-spaced .navbar-end,.navbar.is-spaced .navbar-start {
  -webkit-align-items: center;
  align-items: center
}

.navbar.is-spaced .navbar-link,.navbar.is-spaced a.navbar-item {
  border-radius: 4px
}

.navbar.is-transparent .navbar-link.is-active,.navbar.is-transparent .navbar-link:focus,.navbar.is-transparent .navbar-link:hover,.navbar.is-transparent a.navbar-item.is-active,.navbar.is-transparent a.navbar-item:focus,.navbar.is-transparent a.navbar-item:hover {
  background-color: transparent!important
}

.navbar.is-transparent .navbar-item.has-dropdown.is-active .navbar-link,.navbar.is-transparent .navbar-item.has-dropdown.is-hoverable:focus .navbar-link,.navbar.is-transparent .navbar-item.has-dropdown.is-hoverable:focus-within .navbar-link,.navbar.is-transparent .navbar-item.has-dropdown.is-hoverable:hover .navbar-link {
  background-color: transparent!important
}

.navbar.is-transparent .navbar-dropdown a.navbar-item:focus,.navbar.is-transparent .navbar-dropdown a.navbar-item:hover {
  background-color: #f5f5f5;
  color: #0a0a0a
}

.navbar.is-transparent .navbar-dropdown a.navbar-item.is-active {
  background-color: #f5f5f5;
  color: #485fc7
}

.navbar-burger {
  display: none
}

.navbar-item,.navbar-link {
  -webkit-align-items: center;
  align-items: center;
  display: flex
}

.navbar-item.has-dropdown {
  -webkit-align-items: stretch;
  align-items: stretch
}

.navbar-item.has-dropdown-up .navbar-link::after {
  transform: rotate(135deg) translate(.25em,-.25em)
}


.navbar-item.is-active .navbar-dropdown,.navbar-item.is-hoverable:focus .navbar-dropdown,.navbar-item.is-hoverable:focus-within .navbar-dropdown,.navbar-item.is-hoverable:hover .navbar-dropdown {
  display: block
}

.navbar-item.is-active .navbar-dropdown.is-boxed,.navbar-item.is-hoverable:focus .navbar-dropdown.is-boxed,.navbar-item.is-hoverable:focus-within .navbar-dropdown.is-boxed,.navbar-item.is-hoverable:hover .navbar-dropdown.is-boxed,.navbar.is-spaced .navbar-item.is-active .navbar-dropdown,.navbar.is-spaced .navbar-item.is-hoverable:focus .navbar-dropdown,.navbar.is-spaced .navbar-item.is-hoverable:focus-within .navbar-dropdown,.navbar.is-spaced .navbar-item.is-hoverable:hover .navbar-dropdown {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0)
}

.navbar-menu {
  flex-grow: 1;
  flex-shrink: 0
}

.navbar-start {
  justify-content: flex-start;
  margin-right: auto
}

.navbar-end {
  justify-content: flex-end;
  margin-left: auto
}

.navbar-dropdown .navbar-item {
  padding: .375rem 1rem;
  white-space: nowrap
}

.navbar-dropdown a.navbar-item {
  padding-right: 3rem
}

.navbar-dropdown a.navbar-item:focus,.navbar-dropdown a.navbar-item:hover {
  background-color: #f5f5f5;
  color: #0a0a0a
}

.navbar-dropdown a.navbar-item.is-active {
  background-color: #f5f5f5;
  color: #485fc7
}

.navbar-dropdown.is-right {
  left: auto;
  right: 0
}

.navbar-divider {
  display: block
}

.container>.navbar .navbar-brand,.navbar>.container .navbar-brand {
  margin-left: -.75rem
}

.container>.navbar .navbar-menu,.navbar>.container .navbar-menu {
  margin-right: -.75rem
}

.navbar.is-fixed-bottom-desktop,.navbar.is-fixed-top-desktop {
  left: 0;
  position: fixed;
  right: 0;
  z-index: 30
}

.navbar.is-fixed-bottom-desktop {
  bottom: 0
}

.navbar.is-fixed-bottom-desktop.has-shadow {
  box-shadow: 0 -2px 3px rgba(10,10,10,.1)
}

.navbar.is-fixed-top-desktop {
  top: 0
}

body.has-navbar-fixed-top-desktop,html.has-navbar-fixed-top-desktop {
  padding-top: 3.25rem
}

body.has-navbar-fixed-bottom-desktop,html.has-navbar-fixed-bottom-desktop {
  padding-bottom: 3.25rem
}

body.has-spaced-navbar-fixed-top,html.has-spaced-navbar-fixed-top {
  padding-top: 5.25rem
}

body.has-spaced-navbar-fixed-bottom,html.has-spaced-navbar-fixed-bottom {
  padding-bottom: 5.25rem
}

.navbar-link.is-active,a.navbar-item.is-active {
  color: #0a0a0a
}

.navbar-link.is-active:not(:focus):not(:hover),a.navbar-item.is-active:not(:focus):not(:hover) {
  background-color: transparent
}

.navbar-item.has-dropdown.is-active .navbar-link,.navbar-item.has-dropdown:focus .navbar-link,.navbar-item.has-dropdown:hover .navbar-link {
  background-color: #fafafa
}