.arrowkakushi {
  position:relative;
  display:inline-block;
  z-index:0;
  -ms-pointer-events: none;
  pointer-events: none;
}
.arrowkakushi select {
  z-index:1;
  -ms-pointer-events: auto;
  pointer-events: auto;
}

.arrowkakushi::before {
    display: block;
    position: absolute;
    content: "";
    right: 34px;
    top: 0px;
    height: 30px;
    width: 20px;
    margin: 2px;
    background: rgb(255, 255, 255);
    z-index: 5;
}