﻿@font-face {
    font-family: 'NotoSansJPW';
    src: url('/font/NotoSansJP-Regular');
    src: url('/font/NotoSansJP-Regular?#iefix') format('embedded-opentype'),
    url('/font/NotoSansJP-Regular.woff') format('woff'),
    url('/font/NotoSansJP-Regular.ttf') format('truetype'),
    url('/font/NotoSansJP-Regular.svg#NotoSansJPW') format('svg');
    font-weight: normal;
    font-style: normal;
    }

.pyasashisa{
  font-family: 'Ohirosnest';
}

.pyugo{
  font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic";
}

.pbisud{
  font-family: 'BIZ UDPGothic';
}

.phirakaku{
  font-family: 'ヒラギノ角ゴ ProN','Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro','Hiragino Sans';
}

.pmeiryo{
  font-family: 'Meiryo';
}

.pnotosans{
  font-family: 'Noto Sans CJK JP','Noto Sans JP',"Noto Sans Japanese",'Source Han Sans',"NotoSansJPW";
}

.pmspg{
  font-family: 'MS PGothic','ＭＳ Ｐゴシック';
}